@font-face {
    font-family: 'HelveticaNeueCyr', sans-serif;
    src: url('../fonts/helveticaneuecyr-ultralight200.otf') format('otf');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeueCyr', sans-serif;
    src: url('../fonts/helveticaneuecyr-light300.otf') format('otf');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeueCyr', sans-serif;
    src: url('../fonts/helveticaneuecyr-roman400.otf') format('otf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeueCyr', sans-serif;
    src: url('../fonts/helveticaneuecyr-bold700.otf') format('otf');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeueCyr', sans-serif;
    src: url('../fonts/Quicksand_Bold.otf') format('otf');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}