@font-face {
  font-family: "HelveticaNeueCyr", sans-serif;
  src: url("../fonts/helveticaneuecyr-ultralight200.otf") format("otf");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "HelveticaNeueCyr", sans-serif;
  src: url("../fonts/helveticaneuecyr-light300.otf") format("otf");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "HelveticaNeueCyr", sans-serif;
  src: url("../fonts/helveticaneuecyr-roman400.otf") format("otf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "HelveticaNeueCyr", sans-serif;
  src: url("../fonts/helveticaneuecyr-bold700.otf") format("otf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Quicksand", sans-serif;
  src: url("../fonts/Quicksand_Bold.otf") format("otf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
.main__catalog {
  margin-top: 75px;
}

.catalog__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  row-gap: 10px;
  -moz-column-gap: 3%;
       column-gap: 3%;
}
.catalog__titleFilter {
  width: 100%;
  display: flex;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  row-gap: 10px;
  -moz-column-gap: 3%;
       column-gap: 3%;
  padding: 0 5%;
}
.catalog__homeTitle {
  display: flex;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  row-gap: 20px;
  -moz-column-gap: 3%;
       column-gap: 3%;
  width: 100%;
}
.catalog__home {
  color: rgba(128, 128, 128, 0.665);
}
.catalog__home:hover {
  cursor: pointer;
  color: #00CADF;
}
.catalog__title {
  font-size: 30px;
  line-height: 1.25;
  font-weight: 700;
}
.catalog__filter {
  margin: 20px 0;
}
.catalog__filterBtn {
  font-size: 14px;
  line-height: 1;
  padding: 8px 24px;
  background: #00CADF;
  color: white;
  border-radius: 5px;
}
.catalog__filterBtn:hover {
  cursor: pointer;
  background-color: #282c34;
}
.catalog__filterList {
  display: none;
  margin-top: 8px;
  width: 150px;
  padding: 10px;
  background-color: white;
  border: 1px solid #00CADF;
  border-radius: 5px;
}
.catalog__movieList {
  display: flex;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  row-gap: 20px;
  -moz-column-gap: 2%;
       column-gap: 2%;
  flex-wrap: wrap;
}
.catalog__movie {
  position: relative;
  max-width: 250px;
  height: 375px;
}
.catalog__movie:hover {
  transform: scale(1.02);
}

.filterList__item {
  margin-bottom: 10px;
}
.filterList__item:hover {
  cursor: pointer;
  color: #00CADF;
}

.movie__img:hover {
  cursor: pointer;
}
.movie__img img {
  border-radius: 15px;
}
.movie__text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: rgba(55, 71, 79, 0);
  border-radius: 0 0 15px 15px;
  padding: 10px;
}
.movie__text:hover {
  cursor: pointer;
  transition: 5000;
  bottom: 0px;
  background-color: black;
  color: white;
  height: 35%;
}
.movie__titleHeart {
  display: flex;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  row-gap: 10px;
  -moz-column-gap: 3%;
       column-gap: 3%;
  font-size: 18px;
  line-height: 1.25;
  font-weight: 700;
  margin-bottom: 5px;
}
.movie__heart {
  position: absolute;
  bottom: 344px;
}
.movie____iconFaHeart:hover {
  cursor: pointer;
  color: #00CADF;
}
.movie__release {
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 1.25;
}
.movie__rateVote {
  display: flex;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  row-gap: 10px;
  -moz-column-gap: 3%;
       column-gap: 3%;
  font-size: 16px;
  line-height: 1.25;
}
.movie__rate {
  font-size: 16px;
  line-height: 1.25;
}
.movie__vouteCount {
  font-size: 14px;
  line-height: 1.25;
}
.movie .heartBlue {
  color: #00CADF;
}
.movie .heartWhite {
  color: white;
}/*# sourceMappingURL=catalog.css.map */